.env
.env.*
!.env.example

__pycache__/
**/__pycache__/
*.py[cod]

instance/*.db
instance/*.sqlite
instance/*.sqlite3
instance/*.sqbpro

uploads/*
!uploads/.gitkeep

.pytest_cache/
.coverage
htmlcov/

venv/
.venv/
